---
layout: swccgpc
---


<div class="fl-col-group fl-node-5cbf3e811196b" data-node="5cbf3e811196b">
    <div class="fl-col fl-node-5cbf3e8111bed fl-col-has-cols" data-node="5cbf3e8111bed">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-heading fl-node-5cbf3e8b0c734" data-node="5cbf3e8b0c734">
    <div class="fl-module-content fl-node-content">
        <div class="pp-heading-content">
        <div class="pp-heading  pp-center"><h1 class="heading-title"><span class="title-text pp-primary-title">Hyperoute Navigation Chart</span></h1></div>
        <div class="pp-sub-heading"></div>

    </div><!-- pp-heading-content -->
    </div><!-- fl-module-content fl-node-content -->
</div><!-- fl-module fl-module-pp-heading fl-node-5cbf3e8b0c734 -->

<div class="fl-col-group fl-node-5d01ea5bd7a5c fl-col-group-nested fl-col-group-custom-width" data-node="5d01ea5bd7a5c">
    <div class="fl-col fl-node-5d01ea5bd7bf8" data-node="5d01ea5bd7bf8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-gallery fl-node-5cbf3f9414b21" data-node="5cbf3f9414b21">
    <div class="fl-module-content fl-node-content">

<div class="pp-photo-gallery" itemscope="itemscope" itemtype="https://schema.org/ImageGallery">
    <div class="pp-photo-gallery-item" data-item-id="914" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
    <div class="pp-photo-gallery-content">

<a href="/virtual-slips/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g1.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="915" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/rules/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g2.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="916" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/tournaments/#decklists" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g3.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="917" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/forum/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g4.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="918" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/podcasts-videos/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g5.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="919" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/tournaments/#resources" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g6.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="920" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/tournaments/#calendar" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g7.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="921" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/wp/wp-content/plugins/card-search/cardSearch.html" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g8.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="922" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="/new-returning-players/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g9.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div><div class="pp-photo-gallery-item" data-item-id="923" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">

<a href="#" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl">

<img class="pp-gallery-img" src="/assets/g10.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner">



</div>
</div>

</a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400"></div>
</div>

<div class="pp-photo-gallery-item" data-item-id="924" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">
<a href="/online-play/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl"><img class="pp-gallery-img" src="/assets/g11.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner"></div></div></a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400">
</div>
</div><!-- pp-photo-gallery-item -->

<div class="pp-photo-gallery-item" data-item-id="925" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="visibility: visible;">
<div class="pp-photo-gallery-content">
<a href="/cube/" target="_self" title="Star Wars Players Committee" data-description="" itemprop="contentUrl"><img class="pp-gallery-img" src="/assets/g12.jpg" alt="Star Wars Players Committee" data-no-lazy="1" itemprop="thumbnail"><div class="pp-gallery-overlay">
<div class="pp-overlay-inner"></div></div></a>
<meta itemprop="width" content="500"><meta itemprop="height" content="400">
</div><!-- pp-photo-gallery-content -->
</div><!-- pp-photo-gallery-item -->

</div>

</div>
</div>
</div>
</div>
<div class="fl-col fl-node-5d01ea5bd7bfe fl-col-small" data-node="5d01ea5bd7bfe">
<div class="fl-col-content fl-node-content">

<div class="fl-module fl-module-rich-text fl-node-5d01eae271b49" data-node="5d01eae271b49">
<div class="fl-module-content fl-node-content">
<div class="fl-rich-text">
<ul>
<li><a href="/congrats-to-hayes-hunter-2020-egp-champion/">Congrats to Hayes Hunter, 2020 EGP Champion!</a></li>
<li><a href="/decipher-cards-errata-update/">Decipher Cards Errata Update</a></li>
<li><a href="/demo-deck-expansion-2/">Demo Deck Expansion 2</a></li>
</ul>
</div><!-- fl-rich-text -->
</div><!-- fl-module-content fl-node-content -->
</div><!-- fl-module fl-module-rich-text fl-node-5d01eae271b49 -->

<div class="fl-module fl-module-widget fl-node-5d01ea881d61c" data-node="5d01ea881d61c">
<div class="fl-module-content fl-node-content">
<div class="fl-widget">
<div class="widget widget_recent_entries">
<h2 class="widgettitle">Recent Posts</h2>
<ul>
    <li><a href="/2020-egp-day-1-conor-britain-ls-no-idea/">2020 EGP Day 1 Conor Britain LS No Idea</a></li>
    <li><a href="/2020-egp-day-1-conor-britain-ds-hunt-down/">2020 EGP Day 1 Conor Britain DS Hunt Down</a></li>
    <li><a href="/2020-egp-day-1-brandon-baity-ls-trm/">2020 EGP Day 1 Brandon Baity LS TRM</a></li>
    <li><a href="/2020-egp-day-1-brandon-baity-ds-hunt-down/">2020 EGP Day 1 Brandon Baity DS Hunt Down</a></li>
<li><a href="/2020-egp-day-1-steve-harpster-ls-trm/">2020 EGP Day 1 Steve Harpster LS TRM</a></li>
</ul>
</div><!-- widget widget_recent_entries -->
</div><!-- fl-widget -->
</div><!-- fl-module-content fl-node-content -->
</div><!-- fl-module fl-module-widget fl-node-5d01ea881d61c -->

</div><!-- fl-col-content fl-node-content -->
</div><!-- fl-col fl-node-5d01ea5bd7bfe fl-col-small -->



</div>
</div>
</div>


